*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}

.header{
   left:0;
   top:0;
   position: relative;
   display: block;
}
img{
    width:90%;
    height:150px;
}
.nav{
    margin-top:10px;
    margin-left:38%;
    width:60%;
}
.nav ul
{
    display:inline-flex;
    list-style:none;
}
.nav ul li {
   
  
    padding:14px;
    font-size: 16px;
}
.nav ul li a {
    text-decoration:none ;
    color:black
}

.active, .nav ul li:hover
{
    background:white;
    border-radius:3px;

}
.sub-menu-1
{
   
    display:none;
}
.nav ul li:hover .sub-menu-1
{
    display: block;
    position:absolute;
    background: whitesmoke;
    z-index: 1000;
   
   
}
.nav ul li:hover .sub-menu-1 ul
{
    display:block;
}
.image img{
    margin-top:50px;
    position: relative;
    width:80%;
    height:500px;
    margin-left:10%;
}
.image p{
    width:80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 14px;
    
}
center{
    margin-top: 60px;
    margin-left: 40px;
}
.left-col_1{
    width:500px;
    margin-left: 220px;
    position: absolute;
}
.left-col_1 img{
    margin-top: 10px;
    height:350px;
   
}
.left-col_1 h3{
    text-align: center;
    font-size: 20px;
   
}
.left-col_1 p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.right-col_1{  
    width:500px;
   float:right;
   margin-right: 220px;
}

.right-col_1 img{
    margin-top: 10px;
    height:350px;
   
}
.right-col_1 h3{
    text-align: center;
    font-size: 20px;
   
}
.right-col_1 p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.left-col_2{
    width:500px;
    margin-left: 220px;
   position: absolute;
   margin-top: 35%;
}
.left-col_2 img{
    margin-top: 10px;
    height:350px;
   
}
.left-col_2 h3{
    text-align: center;
    font-size: 20px;
   
}
.left-col_2 p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.right-col_2{  
    width:500px;
   margin-left: 800px;
   margin-top: 35%;
}

.right-col_2 img{
    margin-top: 10px;
    height:350px;
   
}
.right-col_2 h3{
    text-align: center;
    font-size: 20px;
   
}
.right-col_2 p{
    text-align: center;
    font-size: 14px;
   
    
}

.left-col_3{
    width:500px;
    margin-left: 220px;
    position: absolute;
    margin-top: 60px;
}
.left-col_3 img{
    margin-top: 20px;
    height:350px;
   
}
.left-col_3 h3{
    text-align: center;
    font-size: 20px;
   
}
.left-col_3 p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    
}
.right-col_3{
    width:500px;
   float:right;
   margin-right: 220px;
   margin-top: 60px;
}
.right-col_3 img{
    margin-top: 30px;
    height:350px;
   
}
.right-col_3 h3{
    text-align: center;
    font-size: 20px;
   
}
.right-col_3 p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.main div{
    padding: 1%;
    box-sizing: border-box;
    min-height: 280px;
}
.left-col, .right-col{
    width: 30%;
    float: left;
    height: 200px;
    opacity:0.9;
}
.center-col{
    width: 40%;
    height: 200px;
    float: left;
opacity:0.9;
}
.main::after{
content: "";
clear: both;
display: table;
}




footer{
    bottom: 0px;
    width: 100%;
    padding: 10px 30px;
    background:#f1f4f5;
}
.left-column {
    margin-top:0px;
    margin-left: 120px;
    width: 20%;
    float: left;
    height: 300px;
    opacity:0.9;
    text-align: center;
    font-size: small;
    
}
.left-column h4{
    margin-top: -20px;
    font-size: 25px;
    font-weight: lighter;
}
.left-column img{
    width:100px;
    height:100px;
    margin-top: 15px;
}

.right-column{
    margin-left:900px;
    width: 30%;
    height: 300px;
    opacity:0.9;
    text-align: center;
}
.right-column h3{
   
    margin-top:52px;
    font-size: 25px;
    font-weight: lighter;
}
.right-column a{
    
    font-size: 30px;
    margin-top: 150px;
}


.center-column{
    width:50%;
    height:300px;
    margin-top:-320px;
    margin-left:550px;
    position: absolute;
}
.center-column h3{
    margin-left: 20px;
    font-size: 30px;
    font-weight: lighter;
    
}
.center-column img{
    width:80px;
    height:80px;
    margin-left:0px;
    margin-top: 10px;
}

.outer-feeling{
    
    margin-top:-25px;
    margin-left: 480px;
    font-size: 13px;
    font-weight: bolder;
}
